#divHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 20%;
    background-color: blueviolet;
}

#divMain {
    height: 70%;
    border: 1px solid rgb(78, 54, 82);
    background-color: thistle;
}

#divFooter {
    height: 10%;
}